/**
 * Global
 */
$body-bg:                   	#f7f7f7;
$body-color:                	#656565;
$font-family-base:				    'Open Sans', sans-serif;
$font-size-base:				      0.97rem;
$border-radius:								.15rem;

/**
 * Primary Colors
 */
$primary:                     #5184a1;
$secondary:                   #659e84;
$theme-colors: (
	primary: 		  							$primary,
	secondary: 									$secondary,
);

/**
 * Buttons
 */
$btn-padding-x:								.37rem;
$btn-padding-y:								.75rem;
